html {
  font: 15px 'montserratregular', sans-serif;
}

body {
  margin: 0;
  position: relative;
}

h1,h2,h3 {
  font-family: "montserratbold";
}

.btn {
  padding: 14px 45px;
  border: 1px solid black;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
}
.arrow-mobile{
  display: none;
}
.link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  &--other {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__text {
    margin-right: 19px;
    font-family: "montserratbold";
    text-transform: uppercase;
  }
}

.header {
  position: relative;
  width: 100%;
  display: inline-block;
  margin-bottom: 100px;

  &__wrap {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
  }
}

.logo {
  width: 460px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    padding: 0 52px;
    color: white;
  }
}

.select {
  position: relative;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 24px;
    padding-right: 40px;
    color: white;
  }

  option {
    font-size: 16px;
  }

  &:before {
    content: "▼";
    padding: 0 8px;
    font-size: 12px;
    color: white;
    position: absolute;
    right: 20px;
    top: 4px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
  }
}

.menu {
  position: absolute;
  right: 0;
  height: 92px;
  width: 92px;
  z-index: 1;

  &__burger {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.06);
    border: none;

    &:after {
      content: "";
      position: absolute;
      width: 34px;
      bottom: 40px;
      height: 3px;
      left: 50%;
      margin-left: -17px;
      background-color: black;
    }

    &:before {
      content: "";
      position: absolute;
      width: 34px;
      height: 3px;
      top: 40px;
      left: 50%;
      margin-left: -17px;
      background-color: black;
    }
  }
}

.top {
  width: 100%;
  position: relative;

  .container {
    padding: 57px 0;
  }

  &:before {
    content: "";
    position: absolute;
    width: 460px;
    height: calc(100% + 100px);
    background-color: black;
    z-index: -1;
    top: -100px;
  }

  &__bottom {
    display: flex;
    width: 52%;
    padding: 24px 0;
    justify-content: space-between;
  }

}

.scroll {
  cursor: pointer;
}
.color{
  span{
    display: inline-block;
    background: #F29F9F;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    &.grey{
      background-color: #DEDEDE;
    }
    &.blue{
      background-color: #A8BFF9;
    }
    &.green{
      background-color: #90BD8F;
    }
  }
  input{
    display: none;
    &:checked +span{
      transform: scale(1.2);
    }
  }
}
.selector{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 44px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid black;
  &__btn{
    border: none;
    background: none;
  }
  &__input{
    border: none;
    padding: 5px;
    font-size: 15px;
    width: 30px;
    background: none;
    text-align: center;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
}
.container {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  align-items: center;
  max-width: 1090px;
  justify-content: space-between;
}

.proposals {
  display: flex;
  flex-direction: column;
  width: 485px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 80px;
    margin: 0;
    font-weight: bold;
    line-height: 81px;
    padding: 26px 0;
  }

  &__text {
    padding: 0 10px;
    margin: 0 0 36px 0;
    line-height: 21px;
  }
}

.product {
  max-width: 490px;
  background-color: #fff;
  padding: 40px 55px;
  margin-bottom: 40px;
  box-sizing: border-box;
  &--rose{
    background-color: #FAE8E4;
    }
  &__title{
    font-size: 40px;
    margin-bottom: 17px;
    &--bottom{
      font-size: 16px;
      color: rgba(0, 0, 0, 0.50);
      margin-bottom: 64px;
      line-height: 20px;
      text-transform: uppercase;
    }
    &--small{
      margin-bottom: 35px;
    }
  }
  &__price{
    font-size: 40px;
    font-family: "montserratbold";
  }
  &__wrap{
    margin-bottom: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.middle{
  background-color: #FAE8E4;
  padding: 170px 0 130px;
  .img {
    max-width: 590px;
  }
  .container{
    max-width: 1150px;
  }
}
.bottom{
  background-color: #EBE3D8;
  padding: 170px 0 130px;
  position: relative;
  .product-wrap{
    position: absolute;
    width: 485px;
    right: 40px;
    z-index: 2;
  }
  .img{
    position: relative;
    z-index: 1;
  }
  &:after{
    content: "";
    width: 73px;
    height: 100%;
    background: #000;
    position: absolute;
    left: 30%;
    top: 0;
    z-index: 0;
  }
}
.social {
  display: flex;
  padding: 0 52px;

  &__link {
    margin-right: 10px;
  }
}
.footer{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.developed{
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 16px 21px;
  &__text{
    margin-right: 15px;
    font-family: "montserratbold";
  }
}
@media (max-width: 1024px) {
  .img {
    max-width: 100%;
  }

  .container {
    padding: 0;
    flex-flow: row wrap;
  }
  .top {
    .container {
      padding: 0;
    }

    &:before {
      display: none;
    }

    &__bottom {
      display: none;
    }
  }
  .proposals {
    width: 100%;
  }
  .logo {
    width: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      text-transform: uppercase;
      font-size: 30px;
      padding: 0 52px;
      color: black;
    }
  }
  .select {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 72px;
    &__wrap {
      height: 72px;
    }
  }
  .menu{
    height: 72px;
    width: 72px;
  }
  .container{
    justify-content: center;
  }
  .arrow-mobile{
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -17px;
  }
  .selector{
    display: none;
  }
  .logo {
    width: auto;
    &__title {
      text-transform: uppercase;
      font-size: 30px;
      padding: 0 26px;
      color: black;
    }
  }
  .proposals {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    &__wrap {
      display: none;
    }

    &__title {
      font-size: 50px;
      margin: 0;
      position: absolute;
      font-weight: bold;
      line-height: 50px;
      padding: 0;
      bottom: 66px;
      left: 5%;
    }

    &__text {
      display: none;
    }
  }
  .middle{
    padding: 0 0 280px 0;
    .link--other{
      display: none;
    }
  }
  .bottom{
    background-color: #EBE3D8;
    padding: 0 0 300px;
    position: relative;
    .product-wrap {
      right: 0;
      position: relative;
      width: 88%;
      z-index: 1;
    }
    .product {
      top: -50px;
    }
    .img{
      position: relative;
      z-index: 1;
      width: 95%;
    }
    &:after{
      content: "";
      width: 41px;
      height: 100%;
      background: #000;
      position: absolute;
      left: 20%;
      top: 0;
      z-index: 0;
    }
  }
  .color{
    span{
      width: 23px;
      height: 23px;
      margin-right: 9px;
    }
    input{
      display: none;
      &:checked +span{
        transform: scale(1.2);
      }
    }
  }
  .product-wrap{
    right: 0;
    position: relative;
    width: 90%;
    z-index: 1;
  }
  .product {
    max-width: 100%;
    background-color: #fff;
    padding: 15px 30px;
    margin-bottom: 40px;
    left: 0;
    top: -90px;
    box-sizing: border-box;
    position: absolute;
    &--rose{
      background-color: #FAE8E4;
    }
    &__title{
      font-size: 20px;
      margin-bottom: 10px;
      &--bottom{
        font-size: 10px;
        color: rgba(0, 0, 0, 0.50);
        margin-bottom: 16px;
        line-height: 20px;
        text-transform: uppercase;
      }
      &--small{
        margin-bottom: 10px;
      }
    }
    &__text{
      font-size: 9px;
      margin-bottom: 19px;
    }
    &__price{
      font-size: 20px;
      font-family: "montserratbold";
    }
    &__wrap{
      margin-bottom: 26px;
      justify-content: space-around;
    }
  }
  .link{
    flex-direction: column;
    width: 150px;
    position: absolute;
    right: 0;
    bottom: -280px;
    left: 150px;
    align-items: flex-start;
    &__text{
      margin-right: 0;
      margin-bottom: 10px;
    }
    &--other{
      font-size: 15px;
      margin-bottom: 15px;
      line-height: 18px;
    }
    &__arrow{
    }
  }
  .footer{
    display: none;
  }
}